<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Home-Sell,Buy</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css"/>
		<script type="text/javascript"  src="/static/jquery-1.4.2.js">
</script>
<script type="text/javascript">
	$(document).ready(function(){
					 $('#search').bind('click',function (){
						 	searchkey=$('#srch').val()
						 	window.location="/search/"+searchkey;
					      });
					 $('#srch').bind('keypress',function(e){
					       if(e.keyCode==13)
					       {
					       searchkey=$('#srch').val()
						 	window.location="/search/"+searchkey;
					       }
					 });     
					 $('.cbtn').bind('click',function(){
					       window.location="/search/"+this.innerHTML;
					 });
					 $('#sell').bind('click',function(){
					       window.location="/sell"
					 });
			});

		
</script>
	</head>
	<body>
		<div class="container">
		<div class="header">
		<a href="/home"> <img  align="left" src="/static/Travtar-logo.jpg" width="200" height="100"/></a> 
			{% if user %}
			<div align="right">Hi {{ user }} <a href="/logout">Logout</a></div>
			{% else %}
			<div align="right"> 
				You are not logged in. 
				<a href="/hello">Login</a>
			</div>		
			{% endif %}
		</div>	
		<div class="menu">Browse
		    <div class="cbtn">NewYork</div>
			<div class="cbtn">London</div>
			<div class="cbtn">Paris</div>
			Search
			<input type="text" class="txt" id="srch" size="30" placeholder="By title,city,category" name="srchbox"/>
			<img id="search" height="25px" align="absmiddle" src="/static/search.png"/>
			<div id="sell" class="btn">Sell</div></div>	
		<div class="content">	
		<b>Find hottest products</b>  {{ results.count }} Results found 
				<div class="holder">
				{% if results %}
					{% for r in results %}
				    	<div class="item">				    		
								<a href="/buy/{{ r.id }}"><img class="img" src="{{ r.image.url }}" width="100" height="100" align="left"/></a>
								<div class="pdetails"><a href="/buy/{{ r.id }}"><b> {{ r.title }} </b></a><br/>
				 				<b> Category : </b> {{ r.category }} <b>Selling in </b> {{ r.city }} <b>by</b> <a href="/user/{{ r.sellerid }}">{{ r.sellerid }}</a><br/>			
								<b> Price : {{ r.price }} </b>
						</div>	
				    	</div>				    
				    {% endfor %}
				{% else %}
				         <b>No products found</b>
				{% endif %}
				    
				</div>
				
				
						
							
				
		</div>		
		<div class="footer">						
		</div>
	</div>
	</body>
</html>
