<html>
<head>
	<title>Welcome to Travtar</title>
<script type="text/javascript"  src="/static/jquery-1.4.2.js">
</script>
<script type="text/javascript"  src="/static/scripts.js">

</script>
<link rel="stylesheet" type="text/css" href="/static/style.css"/>
</head>
<body>
<div class="container">
<div class="header">
	<div class="login">
		<form id="frm" action="/verify/" method="POST">
              Username<input id="usr" name="username" class="txt" type="text" size="20" />
              Password<input id="pwd" name="password" class="txt" type="password" size="20" />
              <span type="submit" id="login" class="btn" value="Login">Login</span>
		</form>
	</div></div>
<div class="content">
<form id="frm" method="POST" action="/hai/">
{{ form.as_ul }}
<span id="signup" class="btn">Sign Up</span>
</form>
<div id="1" class="fact">I love bugs</div>
<div id="2" class="fact">I love hugs</div>
<div id="3" class="fact">I love pugs</div>
<div id="result">Click on the lie!</div>
</div>
<div class="footer"></div>
</div>
</body>
</html>
