<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Home-Sell,Buy</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css"/>
		<script type="text/javascript"  src="/static/jquery-1.4.2.js">
</script>
<script type="text/javascript">
	$(document).ready(function(){
			 $('#search').bind('click',function (){
				 	
			});
	});		
</script>
	</head>
	
	<body>
		<div class="container">
		<div class="header"><img align="left" src="/static/Travtar-logo.jpg" width="200" height="100"/>
			{% if user %}
			<div align="right">Hai {{ user }} <a href="/logout">Logout</a></div>
			{% else %}
			<div align="right"> 
				You are not logged in. 
				<a href="/hello">Login</a>
			</div>		
			{% endif %}
		</div>	
		<div class="menu">Browse<div class="btn">NewYork</div>
			<div class="btn">London</div>
			<div class="btn">Paris</div>
			Search
			<input type="text" class="txt" id="srch" size="30" name="srchbox"/>
			<img id="search" height="25px" align="absmiddle" src="/static/search.png" />
			<div class="btn">Sell</div></div>	
		<div class="content">	
			
				
		</div>		
		<div class="footer">						
		</div>
	</div>
	</body>
</html>
