.fact
{
color:#AABBDD;
cursor:pointer;
}

.header
{
width:960px;
 height:100px;
color:#0069D6;
font-size:14px;
padding:10px;
}
#sell
{
background-color:#55ACE6;
color:#EEE;
}
#sell:hover
{
background-color:#646;
color:#FFF;
font-weight:bolder;
}
.content
{
width:960px;
 height:640px;
padding:10px;
font-size: 12px;
color:#333;
background-color:#FFF;
-webkit-border-radius:10px;
}
.sellform
{
  width:400px;
  height:auto;
  padding:20px;
}
.img
{
padding:5px;
}
.pdetails
{
padding:5px;
margin-left:10px;
font-size:14px;
color:#444;
}
.item
{
height:125px;
width:600px;
cursor:pointer;
}
.item:hover
{
background-color:#C5D7E3;
-webkit-border-radius:10px;
color:#AAA;
}
.holder
{
-webkit-border-radius:10px;
width:800px;
}
.btn
{
	color:#0069D6;
	width:80px;
	min-height:20px;
	height:auto;
	font-size:14px;
	padding:5px;
	display:inline-block;
	text-align: center;
	vertical-align: middle;
	-webkit-border-radius:15px;
	-webkit-user-select:none;

}
#search
{
	cursor: pointer;
}
.menu
{
	background-color:#F2F2F2;
color: #123;
font-size:14px;
	width:950px;
	height: auto;
	padding:10px;
	
}
.cbtn
{
	color:#0069D6;
	width:80px;
	min-height:20px;
	height:auto;
	font-size:14px;
	padding:5px;
	display:inline-block;
	text-align: center;
	vertical-align: middle;
	-webkit-border-radius:15px;
	-webkit-user-select:none;

}
.cbtn:hover
{
	background-color:#0069D6;
	color:#F2F2F2;
	cursor: pointer;
}

.btn:hover
{
	background-color:#0069D6;
	color:#F2F2F2;
	cursor: pointer;
}
.login
{
	float: right;
}
.txt {
 	padding: 5px;
 	padding-left:10px;
 	padding-right:10px;
border: 1px solid #D8DEE2;
margin: .2em 0 1em 0;
-webkit-border-radius:15px;
width:auto;
color:#789;
}
 
.footer
{
width:960px;
height:60px;
color:#AAAAAA;
font-size:18px;
padding:10px;
}

.container
{
 width:960px;
 height:800px;
 margin-left:auto;
 margin-right:auto;
}

body
{
margin:0;
padding:0;
border:0;
background-color:#F2F2F2;
font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;  color: #333; -webkit-font-smoothing: antialiased;

color:#111;

}

#frm
{
	float: right;
	margin-right: 50px;
}
li
{
	list-style-type: none;
}
li label
{
	width: 100px;
	display: inline-block;
}
li input,li textarea
{
padding: 5px;
border: 1px solid #D8DEE2;
 	padding-left:10px;
 	padding-right:10px;
margin: .2em 0 1em 0;
-webkit-border-radius:15px;
width:200px;
color:#789;

}
li input:focus
{
	border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9;
}
.txt:focus
{
 border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9;
}
